@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.hero{
  background-image: url("../public/image/conf.min.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.dayone{
  background-image: url("../public/image/techstars-abj-dayone.svg");
  background-position: center;
  background-repeat: no-repeat;
 
}

.bitcount{
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}



@media screen and (max-width:650px) {
  .sam{
    margin-block: 130px !important;
  }
}



@media screen and (max-width:640px) {
  .sam{
    margin-block: 120px !important;
  }
}